.badge-container {
    position: absolute;
    width: 76px;
    height: 33px;
    background-color: black;
    border-radius: 7px;
    top: 55%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
  }
  
  .badge-image {
    width: 20px;
    height: 20px;
  }
  