/* Reset de estilos para el cuerpo de la página */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el contenedor de la aplicación */
#root {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
